/*#initOrder{*/
/*  font-family: mrs-eaves-roman-small-caps, sans-serif;*/
/*  padding: 15px;*/
/*  font-weight: 400;*/
/*  font-style: normal;*/
/*}*/
/*.btn-dark{*/
/*  width: 50%;*/
/*  height: 100px;*/
/*  border: none;*/
/*  font-size: 50px;*/
/*}*/
/*.btn-circle{*/
/*  width: 100px;*/
/*  height: 100px;*/
/*  border-radius: 50px;*/
/*  background-color: black;*/
/*  font-size: 50px;*/
/*}*/
/*.list-group-item{*/
/*  line-height: 2.5;*/
/*  display: inline-flex;*/
/*  width: 100%;*/
/*  border: none;*/
/*}*/
.namePlate {
  width: 100%;
}
/* #game-lobby {
  height: 98vh;
  background-color: darkgray;
} */
.m-s-auto {
  margin: 0 auto;
}
/* #server-time {
background-color: darkgray;
} */
body {
  text-align: center;
  background-image: url("assets/paper-bg.jpg");
  width: 100vw;
  font-family: ff-scala-sans-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
}
.banner {
  font-family: mrs-eaves-roman-small-caps, sans-serif;
  padding: 15px;
  font-weight: 600;
  font-style: normal;
  color: #822000;
}

.fa-dice-d20 {
}

.gold-border {
  border: 10px solid;
  border-image-source: linear-gradient(135deg, #ffbf00, #b29700);
  border-image-slice: 1;
}

h2 {
  color: black;
  padding-bottom: 3vh;
  font-style: italic;
}

#server-time {
  position: fixed;
  bottom: 0;
  right: 0;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  z-index: -99;
}

/* BUTTONS */

.namePlate {
  width: 50vw;
  margin-bottom: 10px;
  font-family: mrs-eaves-roman-small-caps, sans-serif;
  font-style: normal;
  font-weight: 400;
}

#play-btn {
  background-color: #822000;
}

#dm-btn {
  background-color: #822000;
}

.btn-lg {
  width: 40vw;
}

#create-button {
  width: 30vw;
}

#add-button {
  width: 30vw;
}
.skullbtn {
  background-color: white;
}
.btn-subText {
  font-style: italic;
  font-size: 75%;
}

/* FORMS */

.input-group {
  margin-bottom: 10px;
}
