#initOrder{
    font-family: mrs-eaves-roman-small-caps, sans-serif;
    padding: 15px;
    font-weight: 400;
    font-style: normal;
}
​
.btn-dark{
    width: 50%;
    height: 100px;
    border: none;
    font-size: 50px;
}
​
#ranger {
    background-color: green;
}
​
#bard {
    background-color: #d4af37;
}
​
#fighter {
    background-color: #8b0000;
}
​
#gunslinger{
    background-color: #474a51;
}
​
#enemy{
    background-color: red;
}
​
#necro{
    background-color: #27d340;
    color: black; 
}
​
#boss{
    background-color:red;
    color: black;
}
​
#rogue{
    background-color: black;
    color:blue;
}
​
#cleric{
    background-color: white;
    color: #d4af37;
}
​
#npc{
    background-color: aqua
}
​
.btn-circle{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: black;
    font-size: 50px;
}
​
.list-group-item{
    display: inline-flex;
    width: 100%;
    border: none;
}
​
.namePlate{
    width: 100%;
}