<div id="gameSelect">
	<div class="container">
		<h1 class="banner">Init<i class="fas fa-dice-d20"></i>Tracker</h1>
		<div class="row">
			<div class="col-8 offset-2">
				<h2>Join the fray!</h2>
				<form class="clearfix mb-4" action="POST">
					<div class="form-group">
						<label for="username-input">Character Name</label>
						<input type="text" id="username-input" class="form-control" placeholder="Drizzt Do'Urden">
					</div>
					<div class="form-group">
						<label for="initiative-number">Initiative Roll</label>
						<input class="form-control" id="initiative-number" placeholder="20"></input>
					</div>
					<div class="input-group">
						<select class="custom-select" id="game-room">
							<option selected>Find Your Game</option>
						</select>
						<div class="input-group-append">
							<button id="join-button" class="btn btn-outline-secondary" type="button">Join</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script src="/js/gameSelect.js"></script>