<h1 class="banner">Init<i class="fas fa-dice-d20"></i>Tracker</h1>
<p>A simple tool for exasperated Dungeon Masters and their distracted players.</p>
<h2>Know your role.</h2>

<a href="gameSelect" class="btn btn-dark btn-lg" id="play-btn">Player
    <p class="btn-subText">"I'm attacking the darkness."</p>
</a>

<a href="gameCreate" class="btn btn-dark btn-lg" id="dm-btn">Dungeon Master
    <br>
    <p class="btn-subText">"You can certainly try."</p>
</a>