<h1 class="banner">Init<i class="fas fa-dice-d20"></i>Tracker</h1>
<h2>Select your role!</h2>

<a href="gameSelect" class="btn btn-secondary btn-lg">Player
    <p class="btn-subText">"I'm attacking the darkness."</p>
</a>

<a href="gameCreate" class="btn btn-primary btn-lg">Dungeon Master
    <br>
    <p class="btn-subText">"You can certainly try."</p>
    </a>





